h1{
    font-size: 36px;
}
h3{
    font-size: 18px;
}

.navbar-brand img{
    max-width: 250px;
}
.main-nav-container .main-nav-menu{
    justify-content: flex-end;
    padding-right: 1rem;
    padding-left: 1rem;
}
.main-nav-container .main-nav-menu .dropdown-menu{
    /*left: unset;
    right: 0;*/
}

.main-nav-container .main-nav-menu .navbar-nav{
    align-items: center;
}

.main-nav-container .main-nav-menu .navbar-nav .nav-item{
    margin-left: 15px;
    margin-right: 15px;
}

.main-nav-container .main-nav-menu .nav-item.active .nav-link
{
    border-bottom: solid 1px #002469;
    color: #002469;
    font-weight: 700;
}

.main-nav-container .main-nav-menu .nav-item .nav-link{
    font-weight: 500;
}

.main-nav-container .main-nav-menu .navbar-nav .nav-item .btn-container{
    padding-left: 80px;
    padding-right: 80px;
}



.mega-footer {
  background: #0f1e2d;
  color: #ffffff;
  padding: 80px 0 30px;
}

.footer-logo {
  max-width: 180px;
}

.mega-footer h5 {
  font-weight: 700;
  margin-bottom: 20px;
}

.mega-footer p {
  color: #cfd6df;
  line-height: 1.6;
}

.footer-small {
  font-size: 14px;
  color: #aeb6c2;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
  color: #cfd6df;
}

.footer-links a {
  color: #cfd6df;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #7EE0B1;
}

.footer-btn {
  display: inline-block;
  font-size: 14px;
}

.footer-divider {
  border-color: rgba(255,255,255,0.1);
  margin: 40px 0 20px;
}

.footer-socials a {
  color: #ffffff;
  margin-left: 15px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #7EE0B1;
}

.footer-bottom {
  font-size: 14px;
}



main.main-content{
    min-height: 800px;
}

.theme-btn{
    background-color: #002469;
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 30px;
    min-width: 130px;
    text-align: center;
    text-decoration: none;
}

.theme-btn:hover{
    background-color: #072f7a;
}

.section-container{
    position: relative;
    background-color: #000;
}
.heading-section-banner{
    border-bottom: solid 6px #002469;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 350px;
    position: relative;
    z-index: 10;
}
.section-container-overlay{
    background-color: #000;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .6;
    background-size: cover;
    background-position: 0px 70%;
    background-repeat: no-repeat;
    z-index: 1;
}

.opgr .step{
    flex-basis: 30%;
    padding: 0 30px;
    min-width: 300px;
}



.header-hero-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


@media screen and (min-width: 1400px) {
    .section-container-overlay{
        background-position: 0px 30%;
    }
}










.response-container{
  display: none;
}

.response-container ul{
  padding: 0;
  margin: 0;
}
.response-container ul li{
  list-style-type: none;
  color: #fff;
  background-color: #DB2122;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.response-container p{
  color: #fff;
  background-color: #316300;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}





/*////////////////////////////////////////////////////////////////////////////////////*/




/* Mega Menu */
/*.mega-dropdown {
  position: static;
}

.mega-menu {
  width: 100%;
  padding: 30px 40px;
  border: none;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}*/


.mega-dropdown {
  position: static;
}


.mega-menu {
  left: 0;
  right: 0;
  top: 80px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 40px;
  transition: all 0.7s ease;
}

.mega-title {
  font-weight: 600;
  margin-bottom: 15px;
  color: #0b2a4a;
}

.mega-menu .dropdown-item {
  padding: 6px 0;
  font-size: 14px;
  color: #333;
}

.mega-menu .dropdown-item:hover {
  background: none;
  color: #ff9800;
  padding-left: 5px;
  transition: all 0.2s ease;
}



@media (max-width: 991px) {
  .mega-menu {
    padding: 20px;
  }

  .mega-menu .row {
    flex-direction: column;
  }

  .mega-menu .col-md-4 {
    margin-bottom: 20px;
  }
}